<section class="about" id="about">

    <h1 class="heading"> Notre <span> Histoire </span></h1>

    
    <div class= "present">

        <div class="landscape">
            
            <img class="photo"src="./assets/img/cuisinière.jpg" alt="">

        </div>

        <div class="content">
            
            <h3> Qui sommes-nous ? </h3>
            
            <p> Étant donné que le premier « barbecue » pourrait bien avoir eu lieu en Afrique, c’est un continent qui peut sans doute prétendre avoir inventé la cuisine.</p>
            
            <p> Mais les plats africains – en particulier ceux du sud du Sahara  sont encore terriblement sous-représentés sur la scène culinaire mondiale.</p>
            <p> Des modestes bouillies de maïs/céréales et des légumes-racines qui constituent la base de tant de régimes alimentaires, aux grands plats de fête tels que les breyanis, les tajines, les ragoûts et les currys aromatiques, les aliments préférés de l’Afrique offrent quelque chose pour tous les palais.</p>
            
            <a href="https://afrocaneo.com/le-top-5-des-sites-de-recettes-de-cuisine-africaines/" class="btn">...plus encore</a>
        </div>
        
    </div>

</section>