<section class="galerie">
        
        <h1 class="heading"> Passez nous voir, il y aura toujours <span>une recette pour vos envies</span></h1>
        
        
        <div class="slider">
            
            <img src="./assets/img/aloco.jpg" alt="img1" class="img__slider active" />
            
            <img src="./assets/img/amiwo.jpeg" alt="img2" class="img__slider" />
            <img src="./assets/img/atassi.jpg" alt="img2" class="img__slider" />
            <img src="./assets/img/attiékè.jpg" alt="img2" class="img__slider" />
            <img src="./assets/img/beignet.jpg" alt="img2" class="img__slider" />
            <img src="./assets/img/hibis.jpg" alt="img2" class="img__slider" />
            <img src="./assets/img/mangue.jpg" alt="img2" class="img__slider" />
            <img src="./assets/img/haricot.jpg" alt="img2" class="img__slider" />
            <img src="./assets/img/ragout.jpg" alt="img2" class="img__slider" />

            <img src="./assets/img/tiebou.png" alt="img2" class="img__slider" />
            <img src="../assets/img/yassa_poulet.jpg" alt="img2" class="img__slider" />
            <img src="./assets/img/sauce_viande.jpg" alt="img2" class="img__slider" />
            <img src="./assets/img/maffé_patate.jpg" alt="img2" class="img__slider" />


            <img src="./assets/img/gombo.jpg" alt="img2" class="img__slider" />



            <img src="./assets/img/plat_poisson.jpg" alt="img3" class="img__slider" />
            <div class="suivant">
                <i class="fas fa-chevron-circle-right"></i>
            </div>
            <div class="precedent">
                <i class="fas fa-chevron-circle-left"></i>
            </div>
        </div>
        <!--fichier js-->
        <script src="./assets/js/galerie.js"></script>

    </body>
</html>

{%category%}
