

    <h1 class="titre">Ajouter un participant</h1>


    <form action="" method="post" class="insertUser">
        
        <div class="form-user">
            <label for="nom"> nom: </label>
            <input type="text" name="nom" >
        </div>
        <div class="form-user">
            <label for="prenom"> prenom: </label>
            <input type="text" name="prenom" >
        </div>
        <div class="form-user">
            <label for="email"> email: </label>
            <input type="text" name="email" >
        </div>
        <div class="form-user">
            <label for="password"> Mot de passe: </label>
            <input type="password" name="password" >
        </div>
        
        <button type="submit" name="submit"><b>Créer</b></button>
    </form>
    
    
    
    <h1 class="titre">Modifier les informations d'un participant</h1>


    <form action="" method="post" class="insertUser">
        
        <div class="form-user">
            <label for="nom"> nom: </label>
            <input type="text" name="nom" >
        </div>
        <div class="form-user">
            <label for="prenom"> prenom: </label>
            <input type="text" name="prenom" >
        </div>
        <div class="form-user">
            <label for="email"> email: </label>
            <input type="text" name="email" >
        </div>
        <div class="form-user">
            <label for="password"> Mot de passe: </label>
            <input type="password" name="password" >
        </div>
        
        <button type="submit" name="submit"><b>Changer</b></button>
    </form>
    
    
    <h1 class="titre">Supprimer un participant</h1>


    <form action="" method="post" class="insertUser">
        
        <div class="form-user">
            <label for="nom"> first name: </label>
            <input type="text" name="UsersFirstName" >
        </div>
        <div class="form-user">
            <label for="prenom"> last name: </label>
            <input type="text" name="UsersLastName" >
        </div>
        <div class="form-user">
            <label for="email"> Email: </label>
            <input type="text" name="Email" >
        </div>
        <div class="form-user">
            <label for="password"> Mot de passe: </label>
            <input type="password" name="UsersPwd" >
        </div>
        
        <button type="submit" name="submit"><b>Supprimer</b></button>
    </form>
    





