    <section class=participant>

    <h1 class="heading"><b>Ajouter un participant</b></h1>

    <form action="./index.php?url=register" method="post" class="insertUser">
        <input type="hidden" name="admin" value="ok"/>
        <input type = "hidden" name="csrf" value="{%csrf%}"/>
        <div class="form-user">
            <label for="nom"> nom: </label>
            <input type="text" name="nom" >
        </div>
        <div class="form-user">
            <label for="prenom"> prenom: </label>
            <input type="text" name="prenom" >
        </div>
        <div class="form-user">
            <label for="email"> email: </label>
            <input type="text" name="email" >
        </div>
        <div class="form-user">
            <label for="password"> Mot de passe: </label>
            <input type="password" name="password" >
        </div>
        
        <button type="submit" name="submit"><b>Créer</b></button>
    </form>
    
    <h3 class="heading">Modifier un atelier</h3>


    <a href="./index.php?url=update"> modifier</a>
    
    
    <h3 class="heading"> Supprimer un atelier </h3>

    
    <a href="./index.php?url=update">supprimer</a>
    </section>





